{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Home</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Delete Organization</div>
                        <div class="card-category">Page Subtitle</div>
                    </div>

                    <div class="card-body">
                        <div class="col-md-6">
                            <form method="post">
                                {% csrf_token %}

                                <p>Are you sure you want to delete "<strong>{{ object }}</strong>"?</p>

                                <button type="submit" class="btn btn-danger btn-rounded">
                                    Delete
                                </button>
                                <a href="{% url 'student-list' %}" class="btn btn-secondary">
                                    Cancel
                                </a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}